# Example environment variables
PUBLIC_CFP_FORM_URL=https://inguandes.typeform.com/to/gp4aQlp7
PUBLIC_CONTACT_EMAIL=jccs.contacto@proton.me
PUBLIC_REGISTRATION_SITE=https://inguandes.typeform.com/to/gtDo6MI8#source=official_site
