---
---

@import "{{ site.theme }}";

.page-header {
  display: none;
}

.main-content {
  max-width: 64rem;
  margin: 0 auto;
  padding: 2rem 2rem 4rem 2rem;
}

$heading-color: rgb(27, 7, 102);

.main-content h1, 
.main-content h2, 
.main-content h3, 
.main-content h4, 
.main-content h5, 
.main-content h6 {
  color: $heading-color;
}

.cfp-hero {
  margin-bottom: 2rem;
}

.cfp-hero img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.cfp-hero img,
.cfp-hero-full img {
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}

.cfp-footer {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.cfp-footer img {
  width: 100%;
  height: auto;
  display: block;
}