---
---

@import "{{ site.theme }}";

.page-header {
  display: none;
}

.main-content {
  max-width: 64rem;
  margin: 0 auto;
  padding: 2rem 2rem 4rem 2rem;
}

$heading-color: rgb(27, 7, 102);

.main-content h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
}